body {
    margin-top: 0;
}

header a {
    font-size: x-large;
    padding: 5px;
    margin: 10px;
    text-decoration: none;
    color: crimson;
    display: inline;
}

#results {
    display: none;
}

header {
    text-align: center;
    border-bottom: 2px solid black;
    position: sticky;
    top: 0px;
    background-color: white;
}

@media only screen and (max-width: 600px) {
    #definitions {
        display: none;
    }

    li,
    label {
        padding: 3px;
        font-size: medium;
    }

    label {
        font-size: large;
    }

    ul {
        display: inline-table;
        list-style: none;
        /* margin-left: 5%; */
    }

    a {
        font-size: large;
    }

    #results {
        display: inline;
    }

    #cat-game {
        display: none;
    }

    .word-block {
        max-width: 90%;
    }
}

p {
    display: inline;
    font-size: large;
}

#guessed {
    text-align: right;
}

div {
    display: block;
}

#form-block {
    max-width: 600px;
    max-height: 600px;
    align-self: center;
    margin: auto;
    margin-top: 12%;
    border: 2px solid black;
    padding: 2%;
    display: none;
}

#test-choice {
    text-align: center;
    margin-top: 12%;
    padding: 10px;
}

#sentence-test-link {
    font-family: 'Times New Roman', Times, serif;
    border-radius: 8px;
    border: 3px solid lightcoral;
    /* background-color: white; */
    font-size: larger;
    color:unset;
    text-decoration: none;
    padding: 2px;
}

#sentence-test-link:hover {
    background-color: lightcoral;
    cursor:default;
}

input {
    margin: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}

select {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    margin: 5px;
}

#congratulation-block {
    text-align: center;
    margin: auto;
    padding: 10px;
    margin-top: 12%;
    border: 2px solid black;
    max-width: 600px;
    max-height: 600px;
    display: none;
}

#word-block {
    margin: auto;
    padding: 10px;
    border: 2px solid black;
    max-width: 410px;
}

table,
tr,
td {
    padding: 5px;
    font-size: large;
    text-align: left;
}

td {
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: top;
}

.name {
    text-decoration: underline;
    font-weight: bold;
    font-size: larger;
}

h1 {
    text-align: center;
}

#result-box {
    margin: auto;
    padding: 10px;
    max-width: 300px;
}

#result-table td {
    border: 2px solid black;
}

#result-table {
    border-collapse: collapse;
}

#answ-input {
    font-size: large;
}

button {
    margin: 5px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 8px;
    border: 3px solid lightcoral;
    background-color: white;
    font-size: larger;
}

button:hover {
    background-color: lightcoral;
}

#mode-block {
    display: block;
    text-align: right;
}

#mode {
    border: 1px solid grey;
    font-size: medium;
}

#mode:hover {
    background-color: grey;
}

#smt {
    display: flex;
    justify-content: space-between;
}

.night-mode {
    background-color: rgb(40, 39, 39);
    color: white;
}

#verb-block {
    margin: auto;
    padding: 10px;
    max-width: max-content;
}

#verbs {
    border-collapse: collapse;
}

#verbs tr:hover {
    background-color: rgb(203, 202, 202);
}

#verbs td {
    border: 2px solid black;
}

#verbs td:hover {
    background-color: rgb(227, 108, 108);
}

.headline {
    font-weight: bold;
}

.word:hover {
    cursor: pointer;
    text-decoration: underline;
}

.wordlink {
    font-size: large;
    color: black;
}

#start-btn-block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

#start-btn {
    padding: 10px;
    font-size: x-large;
}

#game-block {
    display: none;
    text-align: center;
}

#score {
    text-decoration: underline;
    font-size: x-large;
}

#word-input {
    font-size: large;
    text-align: center;
}

.word-block {
    display: inline-table;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    width: 400px;
}

.guessed {
    display: inline-block;
    font-size: larger;
    background-color: lightgreen;
    padding: 4px;
    border-radius: 7px;
    margin: 3px;
}

.word-block-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

.word-header {
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: larger;
    font-weight: bold;
}

.block-score {
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: larger;
    font-weight: bold;
}

#questions {
    font-size: larger;
    text-align: right;
    margin: 5px;
}

#answer-btn,
#sentence {
    margin: 5px;
}

#answer-input {
    font-size: large;
}

#question-block {
    max-width: 600px;
    max-height: 600px;
    align-self: center;
    margin: auto;
    margin-top: 12%;
    border: 2px solid black;
    padding: 2%;
    display: none;
}

#answer-block {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}